{% extends "catalog.html" %}

{% block title %}
	<title>{{ title }}</title>
{% endblock %}

{% block breadcrumb %}
	{{ block.super }}
	{% block crumb %}&rsaquo; {{ title }} <a href="{% url employee_detail employee.id %}#{{ tab }} ">&rsaquo; {{ employee.name }} {{ employee.surname }}</a>{% endblock %}		
{% endblock %}

{% block org_chart %}
	{% include 'organization_chart/chart.html' %}
{% endblock %} 

{% block content %}

<form action="." method="post" class="ym-form ym-columnar">
{% csrf_token %}
{{ formset.management_form }}    
{% for form in formset %}
	{{ form.id }}	
	<div class="{% if form.non_field_errors %}ym-error{% endif %}">
		{{ form.non_field_errors|safe }}
	</div>
	<fieldset>
	<legend>{{ title }}</legend>
	
	<div class="ym-grid">
		<div class="ym-g50 ym-gl">
			<div class="ym-gbox">
				<fieldset>
				<legend></legend>
				<div class="ym-fbox-text {% if form.phone_number.errors %}ym-error{% endif %}">
					{{ form.phone_number.errors|safe }}
					<label for="{{ form.phone_number.auto_id }}">{{ form.phone_number.label }}<sup class="ym-required">*</sup></label>
					{{ form.phone_number }}
				</div>
				<div class="ym-fbox-select {% if form.phone_kind.errors %}ym-error{% endif %}">
					{{ form.phone_kind.errors|safe }}
					<label for="{{ form.phone_kind.auto_id }}">{{ form.phone_kind.label }}</label>
					{{ form.phone_kind }}
				</div>
				<div class="ym-fbox-select {% if form.person.errors %}ym-error{% endif %}">
					{{ form.person.errors|safe }}
					<label for="{{ form.person.auto_id }}">{{ form.person.label }}</label>
					{{ form.person }}
				</div>
				<div class="ym-fbox-text {% if form.comment.errors %}ym-error{% endif %}">
					{{ form.comment.errors|safe }}
					<label for="{{ form.comment.auto_id }}">{{ form.comment.label }}</label>
					{{ form.comment }}
				</div>
				</fieldset>
    		</div>
    	</div>
	</div>
	
	</fieldset>
			   			   
{% endfor %}

    <div class="ym-fbox-button center">
    	<input type="submit" class="ym-button" value="Υποβολή" id="submit" name="submit" />
    	<input type="reset" class="ym-button" value="Επαναφορά" id="reset" name="reset" />
    </div>
       
</form>

{% endblock %}
