{% extends "catalog.html" %}

{% block title %}
	<title>Αλλαγή Συνθηματικού</title>
{% endblock %}

{% block breadcrumb %}
	{{ block.super }}
	{% block crumb %}<a href="{% url my_account %}">&rsaquo; {{ request.user.username }} </a><a href="{% url django.contrib.auth.views.password_change %}">&rsaquo; Αλλαγή Κωδικού Πρόσβασης</a>{% endblock %}		
{% endblock %}

{% block org_chart %}
	{% include 'organization_chart/chart.html' %}
{% endblock %} 

{% block content %}

<form method="post" action="{% url django.contrib.auth.views.password_change %}" class="ym-form ym-columnar">
{% csrf_token %}
	<div class="{% if form.non_field_errors %}ym-error{% endif %}">
		{{ form.non_field_errors|safe }}
	</div>

	<p style="text-align:center;">Εισάγετε τον παλιό και στην συνέχεια τον νέο κωδικό πρόσβασης. Έπειτα επαναλάβετε τον νέο κωδικό πρόσβασης.</p>
	</br>

	<div class="ym-fbox-text {% if form.old_password.errors %}ym-error{% endif %}">
    	{{ form.old_password.errors|safe }}
    	<label for="{{ form.old_password.auto_id }}">Παλιός Κωδικός Πρόσβασης:<sup class="ym-required">*</sup></label>
    	{{ form.old_password }}
	</div>

	<div class="ym-fbox-text {% if form.new_password1.errors %}ym-error{% endif %}">
    	{{ form.new_password1.errors|safe }}
    	<label for="{{ form.new_password1.auto_id }}">Νέος Κωδικός Πρόσβασης:<sup class="ym-required">*</sup></label>
    	{{ form.new_password1 }}
	</div>

	<div class="ym-fbox-text {% if form.new_password2.errors %}ym-error{% endif %}">
		{{ form.new_password2.errors|safe }}
    	<label for="{{ form.new_password2.auto_id }}">Νέος Κωδικός Πρόσβασης (Ξανά):<sup class="ym-required">*</sup></label>
    	{{ form.new_password2 }}
	</div>

    <div class="ym-fbox-button center">
    	<input type="submit" class="ym-button" value="Αλλαγή Κωδικού Πρόσβασης" id="submit" name="submit" />
    </div>
    
</form>
{% endblock %}