{% extends "base.html" %}

{% load search_tags %}

{% block site_wrapper %}

<!-- skip link navigation -->
<ul id="skiplinks">
	<li><a class="skip" href="#nav">Skip to navigation (Press Enter).</a></li>
	<li><a class="skip" href="#col3">Skip to main content (Press Enter).</a></li>
</ul>

<div class="page_margins">
  <div class="page">
    <div id="header" role="banner">
      <div id="topnav" role="contentinfo">
        <span>Welcome, <strong>{{request.user}}</strong></br><a href="{% url logout %}">Logout</a> | <a href="#">Contact</a> | <a href="#">Imprint</a></span>
      </div>
      <h1>H1 Heading</h1>
    </div>
    <!-- begin: main navigation #nav -->
    <!--<div id="nav" role="navigation">-->
      <nav class="ym-hlist"><!-- nav was div and ym-hlist was hlist-->
        <ul>
          <li><a href="{% url home%}">Home</a></li> <!-- class="active" highlights -->
          <li><a href="#">Button 2</a></li>
          <li><a href="#">Button 3</a></li>
          <li><a href="#">Button 4</a></li>
          <li><a href="{% url my_account%}">My Account</a></li>
        </ul>
		<form class="ym-searchform">
			<input class="ym-searchfield" type="search" placeholder="Search..." />
			<input class="ym-searchbutton" type="submit" value="Search" />
		</form>
      </nav><!-- nav was div and ym-hlist was hlist -->
    <!--</div>-->
    <!-- end: main navigation -->
    <!-- begin: content area #main -->
    <div id="main">
      <!-- begin: #col1 - first float column -->
      <div id="col1" role="complementary">
        <div id="col1_content" class="clearfix">
			{% search_box request %}
			<br />
			{% include 'tags/categories.html' %}
		</div>
      </div>
      <!-- end: #col1 -->
      <!-- begin: #col2 second float column -->
      <div id="col2" role="complementary">
        <div id="col2_content" class="clearfix">
        	<h2>Column  #col2</h2>
			<p>Integer condimentum, justo a venenatis vulputate, enim pede porttitor eros, non   pretium lorem orci id tortor. Nulla a ligula. Mauris nulla arcu, luctus vel,   consequat non, luctus eu, nisi. Mauris volutpat, nunc eget pretium blandit,   ligula quam commodo nisl, ac fermentum nibh pede et nulla. In condimentum   bibendum nisi. Vestibulum risus. </p>
			<p>Nullam placerat varius nibh. Quisque tellus   sapien, placerat sed, aliquam sit amet, scelerisque sit amet, nisi. Pellentesque   eget leo vitae felis laoreet dictum. Duis pellentesque porttitor sapien. Fusce   leo. Nulla leo. Donec mattis, justo nec gravida euismod, massa mi posuere   mauris.</p>       
        </div>
      </div>
      <!-- end: #col2 -->
      <!-- begin: #col3 static column -->
      <div id="col3" role="main">
        <div id="col3_content" class="clearfix">
			{% block content %}{% endblock %}
		</div>
        <!-- IE column clearing -->
        <div id="ie_clearing">&nbsp;</div>
      </div>
      <!-- end: #col3 -->
    </div>
    <!-- end: #main -->
    <!-- begin: #footer -->
    <div id="footer" role="contentinfo">Layout based on <a href="http://www.yaml.de/">YAML</a></div>
    <!-- end: #footer -->
  </div>
</div>

{% endblock %}